.productoCard {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.detalles-button {
    opacity: 0%;

}

.productoCard:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);

}

.productoCard:hover .detalles-button {
    opacity: 100%;
    transition: all 1.3s;
}

.productoCard img {
    width: 100%;
    object-fit: cover;
    max-height: 300px;

}


.producto-descripcion-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.producto-descripcion-card a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: var(--clr-oscuro);
    font-weight: 700;
}

.producto-descripcion-card a:hover {
    color: var(--clr-rojo);
}