.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    width: 100%

}
.about-imagenes{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
}

.about-imagenes div{
    width: 300px;
    height:200px ;
    overflow: hidden;
    
}

.about-imagenes div img{
    width: 100%;
    height: 100%;
    transition: 1s;

}
.about-imagenes div:hover img{
    transform: scale(1.2);

}
.about-contenido{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--clr-oscuro);
    line-height: 2rem;
    padding: 1rem;
}


@media (max-width: 1025px) {
    .about{
        flex-direction: column;
    }
    .about-imagenes{
        display: flex;
        flex-wrap: wrap;
    }

  }

  @media (max-width: 769px) {
  /* Estilos para pantallas con un ancho mínimo de 769px y un ancho máximo de 1024px */
  .about-imagenes div{
   width: 100%;
   height: 300px;
}
}