:root{

    --clr-negro: #000;
    --clr-blanco: #FEFEFE;
    --clr-amarillo: #FFF212;
    --clr-rojo: #ED3237;
    --clr-oscuro: #201E1E;

    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--clr-blanco);
}